html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html, body{
    font-size: 100%;
    font-size: 1rem;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

.open{
    display: block !important;
}

.main-header{
    background: url('../images/banner.jpg') no-repeat center center / cover;
    color: #ffffff;
    height: auto;
    min-height: 100vh;
    position: relative;
}

.navbar{
    align-items: center;
    display: flex;    
    height: 79px;
    margin: 0 auto;    
    max-width: 1200px;    
}

.navbar-item,
.navbar-dropdown-item{
    color: #ffffff;
    display: none;
    margin: 10px 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-brand{
    display: inline-block;
    margin-right: auto;
    text-transform: none;
}

.hamburger-menu{    
    margin: 10px 5px;
    padding: 10px;
}

.hamburger-menu-bar{
    background: #ffffff;
    height: 5px;
    width: 36px;
    margin: 6px 0;
}

.navbar-dropdown{
    background: #ffffff;
    color: #000000;
    display: none;
    position: absolute;
    top: 79px;
    width: calc(100% - 40px);     
    overflow: hidden;
    z-index: 1;

    margin: 0 20px;
}

.navbar-dropdown-item{
    color: #000000;
    display: block;
}


.hero{
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    min-height: calc(100vh - 79px);
}

.hero-header{
    font-size: calc( 20px + (64 - 20) * ( (100vw - 320px) / (1200 - 320) ));
    text-align: center;
    margin: 20px 0;
}

.hero-button,
.contact-button{
    background: #e84545;
    border-radius: 25px;
    border: 1px solid #e84545;
    color: #ffffff;
    display: block;
    font-size: 1rem;
    margin: 25px auto 0 auto;
    max-width: 220px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.hero-button{
    text-transform: none;
    font-weight: 700;
    margin-top: 25px;
}

.features{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.features-box{
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
}

.features-box-item{    
    color: #000000;        
    display: flex;
    flex: 1 1 calc(100% - 20px);
    flex-flow: column wrap;
    height: auto;   
    justify-content: center;
    text-align: center;
    margin: 20px;
    padding: 20px;    
}

.features-box-icon{
    display: inline-block;
    margin: 10px auto;
}

.features-box-header{
    font-size: 1rem;
    margin: 10px 0;    
    text-transform: uppercase;
    text-align: center;
}

.features-box-paragraph{
    margin: 0;
    text-align: center;
}

.portfolio{
    align-items: center;
    display: flex;
    justify-content: center;
}

.portfolio-wrapper{
    display: flex;
    flex-flow: row wrap;
    padding: 20px 0 60px 0;
}

.portfolio-item{    
    flex: 1 1 100%;    
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
	padding: 10px;
	margin: 10px;
}

.portfolio-item img{
    display: block;
    height: 100%;
    width: 100%;       
}

.our-team{
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
}

.our-team-wrapper{    
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    padding: 40px 0;
}

.our-team-item{    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    flex: 1 1 calc(100% - 40px);
    margin: 10px;
    padding: 10px;
    
}

.our-team-img{
    display: inline-block;
    height: auto;
    width: 100%;
}


.our-team-name,
.our-team-status{
    font-weight: normal;
    margin: 10px 0;    
}

.our-team-status{
    color: #ff0000;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.our-team-description{
    margin: 15px 0;
}

.about-us-wrapper{
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 40px 0;
}

.about-us-img{
    background: url('../images/testimonial-2.jpg') no-repeat 50% 50% / cover;
    color: #ffffff;
    flex: 1 1 100%;
    height: 380px;
    width: 100%;
}

.about-us-content{
    align-items: center;
    background: #53354a;
    color: #ffffff;
    display: flex;
    justify-content: center;  
    flex: 1 1 100%;
    height: 380px;
    padding: 20px;
}

.about-us-content p{
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
}

.about-us-content p:first-child{
    margin: auto;
}

.about-us-content p:last-child{
	margin-top: 20px;
}

.about-us-content p:first-child:before,
.about-us-content p:first-child:after{
    content: '"';
    font-size: 1.25rem;
    padding: 5px;
}

.contact-wrapper{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 40px 0 60px 0;
    max-width: 960px;
    margin: 0 auto;
}

.contact-header{
    margin-top: 0;
    text-align: center;
    text-transform: capitalize;
}

.contact-button{    
    display: block;    
    margin-bottom: 20px;
}

.contact-header{
    font-weight: normal;
}

.contact-form{
    display: flex;
    flex-flow: row wrap;
}

.contact-form > *{
    font-family: inherit;
    display: block;
    flex: 1 1 100%;
    margin: 10px;
    padding: 10px;
    
}

.contact-form input[type=submit]{
    margin: 10px auto !important;
}

.contact-form input:nth-child(1),
.contact-form input:nth-child(2){
    flex: 1 1 calc(50% - 20px);
}

.contact-form textarea{
    resize: none;
    height:  200px;
}

.footer{
    background: #3a3e64;
    color: #ffffff;
}

.footer-wrapper{
    align-items: center;    
    display: flex;
    flex-flow: row wrap;    
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.footer-item{
    flex: 1 1 100%;
    padding: 20px 20px 0 20px;
}

.copyright{
    text-transform: capitalize;
}

.footer-item:last-child{
    padding-bottom: 20px;
}

.footer-item *{
    text-align: center;
}

.footer-header{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width: 640px){
    .features-box-item{
        flex: 1 1 calc(50% - 40px);
    }
    
    .portfolio-item{
        flex: 1 1 calc(50%);
    }
    
    .our-team-item{
        flex: 1 1 calc(50% - 20px);
    }
    
    .footer-item{
        flex: 1 1 50%;
        padding: 40px;
    }
}

@media screen and (min-width: 768px){
    .about-us-item{
        flex: 1 1 50%;
    }
}

@media screen and (min-width: 1200px){
    .features-box-item{
        flex: 1 1 calc(33.3333% - 40px);
    }
    
    .portfolio-item{
        flex: 1 1 calc(25%);
    }
    
    .our-team-item{
        flex: 1 1 calc(25% - 20px);
    }
}

@media screen and (min-width: 649px){
    
    .hamburger-menu{
        display: none;
    }
    
    .navbar-item{
        display: inline-block;
    }
    
    .navbar-dropdown{
        display: none !important;
    }
}

@media screen and (min-width: 1200px){
    
    .hero-header{
        font-size: 64px;
    }
}